.flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition(@prop: all, @time: 0.2s) {
    transition: @prop @time ease-in-out;
}

.surface() {
    background: @bg-alt;
    border: 1px solid @border;
    border-radius: @radius;
}
