<header class="header">
    <nav class="nav content">
        <a href="#inicio" class="nav-logo">{{nombre}}.</a>
        <ul class="nav-links">
            {{#each nav_links}}
            <li><a href="{{href}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </nav>
</header>
