<article class="project-card">
    <span class="project-card-tag">{{proyecto_tag}}</span>
    <h3 class="project-card-title">{{proyecto_titulo}}</h3>
    <p class="project-card-desc">{{proyecto_desc}}</p>
</article>
